@font-face {
	font-family:"frente";
	src:url("../fonts/frente-h1/FrenteH1-Regular.otf");
}
.clear{
	clear:both;
}
body{
	text-align:left;
	padding:0px;
	margin:0px;
	font-family: 'frente';
	min-width: 700px;
}
p{
	margin-top:30px;
	font-size:30px; 
	padding-bottom: 30px;
}

h1{
	font-size: 200px;
	margin:0px;
	padding:100px;
}
h2{
	font-size: 70px;
	margin:auto;
	padding-top:55px;
}

h3{
	margin:auto;
	padding-top:70px;
	font-size: 50px;
}
header{
	background-color:rgba(254,248,245,.9);
	position:fixed;
	height:40px;
	width:100%;
}
ul{
	list-style: none;
	padding:0;
}
header ul li, footer ul li{
	display:inline;
}
header ul {
	margin-top: 10px;
}
header li a{
	font-size: 20px;
	text-decoration: none;
	color:black;
}

/* Classes/skills */
.langlist{
	text-align: center;
	font-size: 25px;
}
.langlist table{
	margin:20px auto;
}
.langlist td, th{
	padding:10px;
	margin:auto;
	text-align: center;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
table{
	margin: 0px;
}
.langlist td:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

a[ng-click]{
    cursor: pointer;
}
a:hover{
	text-decoration: none;
}
th{
	font-size: 40px;
}


#skills img{
    width:180px;
    border-radius: 100px;
    border:1px solid black;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

#skills{
    text-align: center;
}

.sideinfo{
    position:absolute;
    top:-100px;
    left:10%;
    background: rgba(250,250,250,0.8);
    border:1px solid black;
    width:250px;
    border-radius: 5px;
    padding:10px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;

}
.sideinfoR{
    /*left:-190%;*/
}
.skill{
    position:relative;

    margin-left:50px;
    margin-top:50px;
    display:inline-block;
    z-index:1;
}

.skill img:hover, .skill img:hover + *{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity:1;
}

.skilltitle{
	width:20vw;
}
.langlvl{
	width:10vw;
}
.skillclasses{
	width:50vw;
}
.likebtn{
	width:20vw;
}

/* Projects */
.projects{
	padding:50px 0px;
}
#projects{
    text-align: center;
    overflow: auto;
    width:100%;
}
#projects ul{
    text-align: left;
    list-style: none;
}
#projects a{
    text-decoration:none;
    font-weight: bold;
    font-size: 40px;
    color:#202020;

}
/* Education */

#education{
	overflow: auto;
}
.expBox{    
	text-decoration:none;
	position:relative;

	margin-bottom: 20px;
	border:3px black solid;
	padding:10px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	overflow: auto;
	height:auto;
}
.expBox:hover{
	border:3px solid gold;
}
li{
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
#projects li:hover{
    transform:scale(1.2);
}
.projects{
    width:40%;
    margin:20px;
    float:right;
    /*overflow: auto;*/
}
.viewer{
    width:50%;
    height:40%;
    float: left;
    position:relative;
    top:50px;

}
.img-over{
    width:360px;
    height:360px;
    border-radius: 200px;
    border:2px solid #202020;
    margin-top:20px;
    position:absolute;
    right:10%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    box-shadow: 0 0 20px 5px #000000;
}

.transparent{
    opacity:0;
}

/* Experience */
.workexperience a{
	font-size: 40px;
}
.employers{
	/*border-radius:100%;*/
	width:300px;
	/*height:300px;*/
	overflow: hidden;
}

/* footer */
.firstInfo .disclaimer{
	margin-top:30px;
}
.firstInfo{
	margin:30px 30px ;
}
.profcont{
	border:4px solid white;
	border-radius: 100%;
	height:300px;
	width:300px;
	overflow: hidden;
	margin:auto;

	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.profcont:hover{
	transform: scale(1.2);
}
#profPic{

	height:300px;
	width:auto;

}

.content{
	text-align: center;
	background:white;
	height:auto;
	padding:0px;
	margin:0px;
	clear: all;
}
.divider{
	background-attachment: fixed;
	background-size:  100vw 100vh;
	text-align: center;
	height:500px;
}
.divider1{
	background-image: url("../imgs/nature-forest-trees-fog.jpeg");
/*	background-size: 100% 100vh;
*/	height:100vh;
	text-align: center;
	position:relative;
	z-index:-1000;
	background-position: 0px 0px;
}
.divider2{
	background-image: url("../imgs/landscape-nature-clouds-cloudy.jpg");
}
.divider3{
	background-image: url("../imgs/clouds-cloudy-forest-mountain.jpg");
}
.divider4{
	background-image: url("../imgs/forest-trees-fog-foggy.jpg");
}
.divider5{
	background-image: url("../imgs/forest-5.jpg");
}

.divider6{
	height:80vh;
	background-image: url("../imgs/forest-6.jpg");
	padding-top: 15vh;
}
.footercontainer{
	height:20vh;
}
.btn{
	color:black;
	font-size: 20px;
	width:100px;
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
	-webkit-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.btn:hover{
	color:blue;
	background-color: rgba(200,250,250,.6);
	font-weight:bold;
}

@media (max-width:750px){
	.titleheadline{
		padding-top: 0px;
	}
	.divider{
		background-size: 100vw 100vh;		
	}
	.divider1{
		background-size: 100vh 100vh;
		height:400px;
		text-align: center;
	}

	h1{
		padding-top:10px;
		font-size: 150px;
	}
}
@media (min-width:992px){



}
@media (max-width: 80vh){
	.divider1{
		background-size: 100vh 100vh;

	}
	.divider{
		background-size: auto 100vh;
	}
}
@media (min-width:1900px){
	.divider1{
		background-size: 100vh 100vh;

	}
	.divider{
		background-size: 100% 100vh;
	}
}