
<section id="statement" class="content">
  <div class="sec-container statement-cont">
    <h2>My Web Design Experience</h2>
    <hr width="80%">
    <p class="firstInfo">A junior front end developer dedicated on implementing stunning, engaging and effective designs, he's experienced in Javascript, Python, HTML/CSS, PHP and Java. </br></br> This portfolio, hosted on Github pages, was built using a git and gulp backed dev environment, coded in Atom and Sublime Text IDEs on a combination of AngularJS, Jquery and Bootstrap.</p>
  </div>
  <div class="divider divider2">
    <div class="overlay"></div>
  </div>

  <div class="block first-block">
  <div class="container sec-container">
    <div class="img-cont col-sm-12 col-md-5">
      <img src="build/imgsopt/mob-trans-res.png" alt="mobile phone with lb site">
    </div>
    <div class="text-cont col-sm-12 col-md-7">
      <h3>
      Mobile Friendly
      </h3>
        <hr width="80%">
        <p>This year, online mobile traffic is expected to overtake desktop traffic. Is your website ready?</br>Responsive Web Design is my Jam. Flex-Box? Into it. Media Queries? In the Bag. Whether leveraging Bootstrap, Foundation, SASS or vanilla CSS, I'll make your site shine in a mobile friendly world.</p>
    </div>
    </div>
  </div>
  <div class="block second-block">
    <div class="overlay">
    <div class="sec-container container">
      <div class="row">
      <div class="img-cont col-md-6 col-md-push-6 "></div>
    <div class="text-cont  col-md-6 col-md-pull-6">
      <h3>
      API Savy
      </h3>
        <hr width="80%">
        <p>I'm quickly adaptable to a variety of API's. Utilizing Javascript to reach anything from Google maps to more complicated APIs, I'm excited to connect your clients to the data they seek.</p>
    </div>
</div>
    </div>
    </div>
  </div>
</section>
<div class="divider divider3">
  <div class="overlay"></div>
</div>
