<section ng-controller="ProjectCtrl as projs" id="projects" class="content">
<div class="intro">
  <div class="overlay">
      <h2>Projects</h2>
      <hr width="80%">
      <p class="topic-text">I've participated in the development and launch of a number of applications and websites both as the sole developer and within a team. Some of these projects are listed below:</p>
  </div>
</div>
  <div class='container' ng-repeat="proj in projs.projects">
    <div ng-switch on="$index%2"  class = "project-desc">
      <div ng-switch-when="0">
        <div class="row is-flex">
          <div class="col-xs-12 col-sm-6 image-container">
            <div class=" project-pic-cont" style="background-image:url({{proj.img}});">
              <div class="overlay">
                <div class="title-cont">
                  <h3>
                    <a class="project-title" href="{{proj.url}}" target="_blank">{{proj.title}}</a><a ng-if="proj.projectUrl" href="{{proj.projectUrl}}" target="_blank">&nbsp<i class="fa fa-github"></i></a>
                  </h3>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 description-container">
            <div class="row ">
              <div class="col-xs-12 col-sm-6 desc">
                <p class="desc-text">{{proj.description}}</p>
              </div>
              <div class="col-xs-12 col-sm-6 skills-list" >
                <ul>
                  <li ng-repeat="skill in proj.rolls">{{skill}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-switch-default>
        <div class="row is-flex rev">
          <div class="col-xs-12 col-sm-6 image-container">
            <div class=" project-pic-cont" style="background-image:url({{proj.img}});">
              <div class="overlay">
                <div class="title-cont">
                  <h3 ng-if="proj.url">
                    <a class="project-title" href="{{proj.url}}" target="_blank">{{proj.title}}</a><a ng-if="proj.projectUrl" href="{{proj.projectUrl}}" target="_blank">&nbsp<i class="fa fa-github"></i></a>
                  </h3>
                  <h3 ng-if="!proj.url && proj.projectUrl">
                    <a class="project-title" href="{{proj.projectUrl}}" target="_blank">{{proj.title}}</a><a ng-if="proj.projectUrl" href="{{proj.projectUrl}}" target="_blank">&nbsp<i class="fa fa-github"></i></a>
                  </h3>
                  <h3 ng-if="!proj.url && !proj.projectUrl">
                    <span class="project-title" href="{{proj.projectUrl}}" target="_blank">{{proj.title}}</span><span ng-if="proj.projectUrl" href="{{proj.projectUrl}}" target="_blank">&nbsp<i class="fa fa-github"></i></span>
                    </h3>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 description-container">
            <div class="row ">
              <div class="col-xs-12 col-sm-6 desc">
                <p class="desc-text">{{proj.description}}</p>
              </div>
              <div class="col-xs-12 col-sm-6 skills-list" >
                <ul>
                  <li ng-repeat="skill in proj.rolls">{{skill}}</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
