<section ng-controller="ProjectCtrl as projs" id="projects" class="content">


    <h2>Projects</h2>
    <hr width="80%">
    <p class="topic-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, ducimus. Pariatur doloremque aliquid, eum eligendi molestiae deleniti, odio, facilis nemo rem doloribus placeat. Assumenda obcaecati doloribus, mollitia consequatur aliquam dolor.</p>

<div ng-repeat="proj in projs.projects">
  momo
</div>
<!--
<div class='container'>
    <div class="col-sm-12 col-md-6 project-pic-cont">
        <img src="build/imgsopt/james2.jpg" class="transparent img-over">


    </div>
    <div class="col-sm-12 col-md-6 project-desc">
      <h3><a class="project-title" href="http://bluwaterdogz.github.io/JamesStatic/" data-pic="build/imgsopt/james2.jpg" target="_blank">J.S. Portfolio &nbsp</a><a href="https://github.com/bluwaterdogz/JamesStatic" target="_blank"><i class="fa fa-github"></i></a></h3>
      <hr>
      <div class='container'>

      <div class="col-sm-6 desc">
        <p class="desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni porro modi cumque officia unde ipsa cum inventore, aperiam, tempora, tempore consequuntur voluptates ut quas sapiente iure quasi facere? Facilis.</p>
        </div>
        <div class="col-sm-6 skills-list">
      <ul><li>php</li>
      <li>momo</li>
      <li>nono</li>
      <li>heehee</li></ul>
      </div>
      </div>
    </div>
</div>

 -->




    <!--
  <div class='container'>
    <div class="col-sm-12 col-md-6 project-pic-cont">
      <img src="build/imgsopt/james2.jpg" class="transparent img-over">
      <img src="build/imgsopt/boards.jpg" class="transparent img-over">
      <img src="build/imgsopt/dansite.jpg" class="transparent img-over">
      <img src="build/imgsopt/resolutions.png" class="transparent img-over">
      <img src="build/imgsopt/craigslisttrawler.jpg" class="transparent img-over">
      <img src="build/imgsopt/php-project.jpg" class="transparent img-over">
      <div class="img-over wow bounceIn"></div>
    </div>
    <div class="project-title-cont col-sm-12 col-md-6">
      <ul>
        <a class="project-title" href="http://bluwaterdogz.github.io/JamesStatic/" data-pic="build/imgsopt/james2.jpg" target="_blank">James Sauter Portfolio &nbsp</a><a href="https://github.com/bluwaterdogz/JamesStatic" target="_blank"><i class="fa fa-github"></i></a>
        <a class="project-title" href="https://bluwaterdogz.pythonanywhere.com/Boards/default/index" data-pic="build/imgsopt/boards.jpg" target="_blank">Boards Web2py App</a>&nbsp<a href="https://github.com/bluwaterdogz/Boards" target="_blank"><i class="fa fa-github"></i></a>
        <a class="project-title" href="http://bluwaterdogz.github.io/DanWebsitePortfolio/" data-pic="build/imgsopt/dansite.jpg" target="_blank">Daniel V Portfolio &nbsp</a><a href="https://github.com/bluwaterdogz/DanWebsitePortfolio" target="_blank"><i class="fa fa-github"></i></a>
        <a class="project-title" href="https://github.com/bluwaterdogz/MeteorResolutions" data-pic="build/imgsopt/resolutions.png" target="_blank">Meteorjs Resolutions App </a>
        <a class="project-title" href="https://github.com/bluwaterdogz/CraigslistTrawlerApp" data-pic="build/imgsopt/craigslisttrawler.jpg" target="_blank">Craigslist Trawler</a>
        <a class="project-title" href="https://github.com/bluwaterdogz/PHPLoginDemo" data-pic="build/imgsopt/php-project.jpg" target="_blank">Movie rating App </a>
      </ul>
    </div>
    <div class="col-md-12 disclaimer">
        <p >Hover over links for pictures of each project or click to visit the github repo or project site.</p>
    </div>




    <div class='container'>
        <div class="col-sm-12 col-md-6 project-pic-cont">
            <img src="build/imgsopt/james2.jpg" class="transparent img-over">


        </div>
        <div class="col-sm-12 col-md-6 project-desc">
          <h3><a class="project-title" href="http://bluwaterdogz.github.io/JamesStatic/" data-pic="build/imgsopt/james2.jpg" target="_blank">J.S. Portfolio &nbsp</a><a href="https://github.com/bluwaterdogz/JamesStatic" target="_blank"><i class="fa fa-github"></i></a></h3>
          <hr>
          <div class='container'>

          <div class="col-sm-6 desc">
            <p class="desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni porro modi cumque officia unde ipsa cum inventore, aperiam, tempora, tempore consequuntur voluptates ut quas sapiente iure quasi facere? Facilis.</p>
            </div>
            <div class="col-sm-6 skills-list">
          <ul><li>php</li>
          <li>momo</li>
          <li>nono</li>
          <li>heehee</li></ul>
          </div>
          </div>
        </div>
    </div>
    <div class='container'>
        <div class="col-sm-12 col-md-6 project-pic-cont"></div>
        <div class="col-sm-12 col-md-6 project-pic-cont">
            <img src="build/imgsopt/boards.jpg" class="transparent img-over">
            <a class="project-title" href="https://bluwaterdogz.pythonanywhere.com/Boards/default/index" data-pic="build/imgsopt/boards.jpg" target="_blank">Boards Web2py App</a>&nbsp
            <a href="https://github.com/bluwaterdogz/Boards" target="_blank"><i class="fa fa-github"></i></a>

        </div>
    </div>
    <div class='container'>
        <div class="col-sm-12 col-md-6 project-pic-cont">
            <img src="build/imgsopt/dansite.jpg" class="transparent img-over">
            <a class="project-title" href="http://bluwaterdogz.github.io/DanWebsitePortfolio/" data-pic="build/imgsopt/dansite.jpg" target="_blank">Daniel V Portfolio &nbsp</a>
            <a href="https://github.com/bluwaterdogz/DanWebsitePortfolio" target="_blank"><i class="fa fa-github"></i></a>

        </div>
        <div class="col-sm-12 col-md-6 project-pic-cont"></div>
    </div>
    <div class='container'>
        <div class="col-sm-12 col-md-6 project-pic-cont"></div>
        <div class="col-sm-12 col-md-6 project-pic-cont">
            <img src="build/imgsopt/resolutions.png" class="transparent img-over">
            <a class="project-title" href="https://github.com/bluwaterdogz/MeteorResolutions" data-pic="build/imgsopt/resolutions.png" target="_blank">Meteorjs Resolutions App </a>

        </div>
    </div>
    <div class='container'>
        <div class="col-sm-12 col-md-6 project-pic-cont">
            <img src="build/imgsopt/craigslisttrawler.jpg" class="transparent img-over">
            <a class="project-title" href="https://github.com/bluwaterdogz/CraigslistTrawlerApp" data-pic="build/imgsopt/craigslisttrawler.jpg" target="_blank">Craigslist Trawler</a>

        </div>
        <div class="col-sm-12 col-md-6 project-pic-cont"></div>
    </div>
    <div class='container'>
        <div class="col-sm-12 col-md-6 project-pic-cont"></div>
        <div class="col-sm-12 col-md-6 project-pic-cont">
            <img src="build/imgsopt/php-project.jpg" class="transparent img-over">
            <a class="project-title" href="https://github.com/bluwaterdogz/PHPLoginDemo" data-pic="build/imgsopt/php-project.jpg" target="_blank">Movie rating App </a>
        </div>
    </div>

    -->
</section>
