<section ng-controller="ProjectCtrl as projs" id="projects" class="content">

<div class="intro">
  <div class="overlay">
      <h2>Projects</h2>
      <hr width="80%">
      <p class="topic-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, ducimus. Pariatur doloremque aliquid, eum eligendi molestiae deleniti, odio, facilis nemo rem doloribus placeat. Assumenda obcaecati doloribus, mollitia consequatur aliquam dolor.</p>
  </div>
</div>
  <div class='container' ng-repeat="proj in projs.projects">
    <div ng-switch on="$index%2"  class = "project-desc">
      <div ng-switch-when="0">
        <div class="row is-flex">
          <div class="col-xs-12 col-sm-6 image-container">
            <div class=" project-pic-cont" style="background-image:url({{proj.img}});">
              <div class="overlay">
                <div class="title-cont">
                  <h3>
                    <a class="project-title" href="{{proj.url}}" target="_blank">{{proj.title}} &nbsp </a><a href="{{proj.project-url}}" target="_blank"><i class="fa fa-github"></i></a>
                  </h3>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 description-container">
            <div class="row ">
              <div class="col-xs-12 col-sm-6 desc">
                <p class="desc-text">{{proj.description}}</p>
              </div>
              <div class="col-xs-12 col-sm-6 skills-list" >
                <ul>
                  <li ng-repeat="skill in proj.rolls">{{skill}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-switch-default>
        <div class="row is-flex">
          <div class="col-xs-12 col-sm-6 description-container">
            <div class="row ">
              <div class="col-xs-12 col-sm-6 desc">
                <p class="desc-text">{{proj.description}}</p>
              </div>
              <div class="col-xs-12 col-sm-6 skills-list" >
                <ul>
                  <li ng-repeat="skill in proj.rolls">{{skill}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 image-container">
            <div class=" project-pic-cont" style="background-image:url({{proj.img}});">
              <div class="overlay">
                <div class="title-cont">
                  <h3>
                    <a class="project-title" href="{{proj.url}}" target="_blank">{{proj.title}} &nbsp </a><a href="{{proj.project-url}}" target="_blank"><i class="fa fa-github"></i></a>
                  </h3>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
