		<section id="skills" class="content" ng-controller="SkillsCtrl as skills">
			<h2>Skills</h2>
			<hr width="80%">
			<div class="row">
				<div class="skills-cont col-sm-6 " ng-repeat="skillType in skills.skillTypes">
					<div class="{{skillType.name}}-sec">
						<div class="overlay">
							<span class="skills-icon"><i class="fa {{skillType.icon}}"></i></span>
							<ul>
								<li class="skills-list-item" ng-repeat="skill in skillType.skills">{{skill.skill}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<hr width="80%">
			<p>
				Other Languages & Frameworks: JSON, SCSS, Meteor.js, AngularJS
				<br> IDE experience: Sublime Text, EMACs, Android Studio, XCode, PyCharm, MAMP
			</p>
		</section>
	<div class="divider divider4">
		<div class="overlay"></div>
	</div>
	<section id="education" class="content fluid-container" ng-controller="ExperienceCtrl as exps">
		<h2>On Campus Classes</h2>
		<h3>Click for more info</h3>
		<hr width="80%">
		<div class="col-sm-4 educationcontainer">
			<div ng-repeat="exp in exps.experiences  | expFilter:0">
				<exp-info info="exp"></exp-info>
			</div>
		</div>
		<div class="col-sm-4 educationcontainer">
			<div ng-repeat="exp in exps.experiences  | expFilter:1">
				<exp-info info="exp"></exp-info>
			</div>
		</div>
		<div class="col-sm-4 educationcontainer">
			<div ng-repeat="exp in exps.experiences  | expFilter:2">
				<exp-info info="exp"></exp-info>
			</div>
		</div>
		<div class="col-md-12 clear disclaimer">
			<p>Other relevant classes include: Introduction to C++ programming & Introduction to Java Programming using games and simulations</p>
		</div>
	</section>

		<div class="langlist">
			<div ng-repeat="skill in skills.collection">
				<div>
					momo
					<skills-info info="skill"></skills-info>
				</div>
			</div>
		</div>

		</div>
