<section id="experience" class="content">
    <div class="overlay">
        <div id="work-cont">
      <h2>Professional Experience</h2>
      <hr width="80%">
      <div class="workexperience sway col-sm-4">
        <img src="build/imgsopt/logosleepless.png" alt="">
        <a class="company-name" href="http://www.sleeplessmedia.com/">
            Sleepless Media
          </a>
        <br>
        <a class="professional-title" href="http://www.sleeplessmedia.com/">
            Junior Web Developer
          </a>

      </div>
      <div class="workexperience sway col-sm-4">
        <img src="build/imgsopt/logooimba1.png" alt="">
        <a class="company-name" href="http://www.oimba.com/">
            Once In Motion
          </a>
        <br>
        <a class="professional-title" href="http://www.oimba.com/">
            Graphic Design Intern
          </a>
      </div>
      <div class="workexperience sway col-sm-4">
        <img src="build/imgsopt/logolb.png" alt="">
        <a class="company-name" href="http://launchbrigade.com">
            Launch Brigade
          </a>
        <br>
        <a class="professional-title" href="http://launchbrigade.com">
            Web Developer
          </a>
      </div>
      <div class="clear">
        <p>Previous unlisted work experience in Molecular Biology, refrences availiable upon request.</p>
      </div>
    </div>
  </div>

</section>
