@font-face
{
    font-family: 'frente';
    src: url('../build/assets/fonts/frente-h1/FrenteH1-Regular.otf');
    font-weight:normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url('../build/assets/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight:normal;
}
@font-face
{
    font-family: 'Montserrat-thin';
    src: url('/web_des_resume/build/assets/fonts/montserrat/Montserrat-Thin.ttf');
    font-weight:thin;
}
@font-face
{
    font-family: 'Montserrat-ultrathin';
    src: url('../build/assets/fonts/Montserrat/Montserrat-UltraLight.otf');
    // font-weight:100;
}
@font-face
{
    font-family: 'Verano';
    src: url('../build/assets/fonts/Verano/Verano.otf');
    // font-weight:100;
}
