/*!
Author:Brian Velasquez
Title: Scss page for Brian Velasquez's resume for up to 760px wide
*/

@media (min-width:768px) and (max-width:992px){
    .nav-link
    {
      position:fixed;
      top:20px;
      left:20px;
      width:45px;
    }
    .nav-link:hover + nav
    {
      height:45vh;
      width:100vw;
    }
    nav:hover
    {
      height:45vh;
    }
    nav
    {
      position:fixed;
      height:0px;
      width:100vw;
      text-align: center;
      top:55vh;
      bottom:0px;
      left:0;
    }
    nav img
    {
      display:none;
    }
    nav a{

      font-size: 55px;
    }
    .navbar-link i
    {
      width:8%;
      margin-left: 0;
    }
    nav ul{
      margin-top: 30px;
    }
    nav li{
      padding:10px;
      border-left: none;
    }
    .divider
    {
        background-size: 100vw 100vh;
    }
    .divider1
    {
        height: 55vh;
        text-align: center;
        background-size: 100vh 100vh;
    }
    .project-pic-cont{
        display:none;
        margin:auto;
    }
    .project-title-cont li{
      text-align: center;
    }
    .langlist{
      font-size:30px;
    }
    h1
    {
        font-size: 15vw;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    h2
    {
        font-size: 8vw;
    }
    p{
        font-size: 3vw;
    }
    #title-box h3.titleheadline
    {
        font-size: 5vw;
        color:black;
    }
}
