/* Projects */
#projects {
  .intro{
    background-image: url("../imgs/test.jpeg");
    background-size: cover;
    // background-position: fixed;
    background-attachment: fixed;

    .overlay{
      background-color: rgba(255,255,255,.85);

      padding:100px 20px;
    }
  }
  .row{
    margin-right:0;
    margin-left:0;
  }
    overflow: auto;
    width: 100%;
    text-align: center;
    h2{
      color:$secondary-color;
    }
    hr{
      border-color:$secondary-color;
      width:50%;
    }
    .topic-text{

      font-size: 25px;
      font-family: $main-font;
    }

    .container{
      margin:0;
      padding: 0;
      width:100%;
      position: relative;
      .content-container{
        padding:0;
      }
      .project-desc{
        .row{
          height: 100%;

        }
        .image-container{
          padding:0;

        }
      div.project-pic-cont{


        min-height:400px;
        height:100%;
        background-size: cover;
        padding: 0;
        .overlay{
          height:inherit;
          background-color: rgba(0,0,0,.3)
        }
        .title-cont{
          position:absolute;
          width:100%;
          top:40%;
          h3{
            color:white;
            padding:0;
            a{
              color:white;
            }
            @include trans(500ms)
          }
          hr{
            border-color:white;
            width:0;
            @include trans(500ms)
          }
        }
        &:hover{
          h3{
            // background-color: rgba(0,0,0,.3);
          }
          hr{
            width:80%;
          }
        }
      }
      .description-container{
        .row{
          display:flex;
          justify-content: center;
        }


          padding:0px 0px;
          .desc{
            display:flex;
            align-items: center;
            .desc-text{
              font-family: $main-font;
              font-size: 17px;
              text-align: right
            }

          }
          .process{
            .process-text{
              font-family: $main-font;
              font-size: 20px;
              text-align: left;
            }
          }
          .skills-list, .tech-list{
            display:flex;
            align-items: center;
            ul{
              // margin-top:40px;
              li{
                font-size:25px;
                color:$secondary-color;
                @include trans(500ms)
              }
            }
          }
          .tech-list{
            li{text-align: right;}
          }
          .skills-list{
            li{text-align: left;}
          }
        }
      }
    }
    .disclaimer {margin: 40px auto;}
    .img-over {width:100%;}
    @media (max-width:767px) {}
    @media (min-width:768px) {}
    @media (min-width:768px) and (max-width:992px) {}
    @media(min-width:992px) {}
    @media(min-width:992px) and (max-width:1200px) {}
    @media(min-width:1200px) {}
    @media(min-width:1200px) and (max-width:1900px) {}
    @media (min-width:1900px) {}
}
