@media (max-width:767px){
  #divider1{
  #my_name{
    font-size:80px;
  }
  .profcont{

      width:200px;
      height: 200px;
  #profPic{
    width:250px;
    height: 200px;
  }

}
.btn-white{
  display: block;
}
}
body{
.divider{
  height: 300px ;
}
}
#projects{
  .project-title-cont{
    float: none;
    li{
    text-align: center
  }
  }
  .project-pic-cont{
    display: none;
  }
  .disclaimer{
    display: none;
  }
}
  #statement{
  .first-block{

      .sec-container{
        .text-cont{padding: 60px 0;}
      }

  }
  .second-block{
    .overlay{
      .sec-container{
        min-height:0;
        .text-cont{width: 100%;}
        .img-cont {min-height:64vw;}
      }
    }
  }
}
}
